[client]
port                            = 4500
default-character-set = utf8mb4

[mysql]
port                            = 4500
default-character-set = utf8mb4

[mysqld]
port                            = 4500
character-set-client-handshake = FALSE
character-set-server           = utf8mb4
collation-server               = utf8mb4_unicode_ci